body {
    font-family: 'Indie Flower', cursive;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, #42FFAD , #b400f5); /* Standard syntax */
}

h1 {
    font: 600 3.5em 'Lobster', cursive;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font-family: 900 1em 'Indie Flower', cursive;
    color: #ffffff;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}
